.venv
.env
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
*.log
*.bak
*.swp
.DS_Store
.idea/
.vscode/
models/
outputs/
checkpoints/
logs/
results/
*.h5
*.ckpt
*.pt
*.pth
*.onnx
*.zip
*.tar.gz
*.tar
*.egg-info/
dist/
build/
*.egg
*.whl